# File created for CIS benchmark
[Journal]
{% if ubtu24cis_rule_6_2_1_3 %}
# Set compress CIS rule 6_2_1_3
Compress=yes
{% endif %}

{% if ubtu24cis_rule_6_2_1_4 %}
# Set persistent storage CIS rule 6_2_1_4
Storage=persistent
{% endif %}
