# File created for CIS benchmark
# CIS rule 6_1_1_3
[Journal]
SystemMaxUse={{ ubtu24cis_journald_systemmaxuse }}
SystemKeepFree={{ ubtu24cis_journald_systemkeepfree }}
RuntimeMaxUse={{ ubtu24cis_journald_runtimemaxuse }}
RuntimeKeepFree={{ ubtu24cis_journald_runtimekeepfree }}
MaxFileSec={{ ubtu24cis_journald_maxfilesec }}
